@import url("https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Use on 404 page too so applied in CSS */
  @apply bg-slate-600 text-white;
}

h1 {
  font-family: "Borel", "Arial Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply pt-8 -mb-3;
}

a {
  @apply decoration-white max-md:underline md:hover:underline;
}

.loona-bg {
    background-image: url("hi_high_diving_board_crop.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}