@import url("https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Use on 404 page too so applied in CSS */
  @apply bg-slate-600 text-white;
}

h1 {
  font-family: "Borel", "Arial Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply pt-8 -mb-3;
}

a {
  @apply decoration-white max-md:underline md:hover:underline;
}

.background {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    @apply bg-no-repeat bg-cover bg-fixed;

    &.loona {
        @apply bg-[url(loona_vertical.webp)] lg:bg-[url(loona_wide.webp)] bg-bottom;
    }

    &.gfriend {
        @apply bg-[url(gfriend_vertical.webp)] md:bg-[url(gfriend_wide.webp)] bg-center;
    }
}

/* For touch only devices that can't hover */
@media not all and (hover: hover) {
    abbr[title]::after {
        content:' ('attr(title)')';
    }
}
