@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@property --xPos {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --yPos {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

#spaceScene {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  /* Add background that fills device viewport */
  background-image: url("surrounding_sky_compressed.jpg");
  background-size: 110%;
  background-repeat: repeat-y;
  /* Starting position (modified in JS) */
  background-position: var(--xPos) var(--yPos);
  opacity: 70%;
}

#spaceScene.resting {
  transition: --xPos 1s ease-out, --yPos 1s ease-out;
}

@property --gradientAngle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

h1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: 4rem;
  background-size: 100%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    var(--gradientAngle),
    rebeccapurple 20%,
    deepskyblue
  );
}

h1.resting {
  transition: --gradientAngle 1s ease-out;
}

.icon {
  height: 2rem;
  transition: scale 250ms ease-out;
  /*No pointer events to allow for cursor tracking over SVGs: https://stackoverflow.com/a/71448597*/
  pointer-events: none;
  scale: 1;
}

object {
  width: 100%;
  height: 100%;
}
