@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

@property --xPos {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --yPos {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

#scene {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  /* Add background that fills device viewport */
  background-image: url("./surrounding_sky.jpg");
  background-size: 110%;
  background-repeat: repeat-y;
  /* Starting position (modified in JS) */
  background-position: var(--xPos) var(--yPos);
  opacity: 80%;
}

#scene.resting {
  transition: --xPos 1s ease-out, --yPos 1s ease-out;
}

@property --gradientAngle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

#title {
  font-size: 4rem;
  font-weight: bold;
  background-size: 100%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(var(--gradientAngle), rebeccapurple 20%, deepskyblue);
}

#title.resting {
  transition: --gradientAngle 1s ease-out;
}

h1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.icon {
  height: 2rem;
  width: 2rem;
}

object {
  width: 100%;
  height: 100%;
}
